/* reset */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Sarabun', sans-serif; */
}

/* container chua cac the div chinh*/
.container {
    width: 1440px;
    height: 900px;
    display: grid;
    grid-template-columns: 80px 910px 450px;
}

/* phan menu (noi dung ben trai man hinh) */
.menu {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 1px #EAECEFFF, 0px 0px 2px #EAECEFFF;
}

.action {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.setting {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* phan center (noi dung chinh o giua man hinh) */
.center {
    grid-column: 2/3;
    /* border-left: 0.5px solid gray;
    border-right: 0.5px solid gray; */
    display: grid;
    grid-template-rows: 145px 495px 185px 70px;
}

/* phan chua tieu de va thoi gian */
.heading {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 40px 830px 40px;
}

.content_heading {
    position: relative;
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.metting {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.metting p {
    padding: 5px 10px;
}

.metting .title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Sarabun', sans-serif;
    padding-left: 0px;
}

.metting .subtitle {
    padding: 20px 0px;
}

.metting .subtitle .internal {
    font-size: 12px;
    line-height: 20px;
    background-color: #E34D73;
    border-radius: 25px;
    color: #fff;
}

.metting .subtitle p {
    display: inline-block;
    font-size: 14px;
    color: #323842FF;
    line-height: 22px; 
}

.subtitle .straight {
    color:  #DEE1E6FF;
}

.content_heading .time {
    position: absolute;
    top: 32px;
    right: 40px;
    width: 70px;
    padding: 7px 7px;
    color: #f22128;
    border: 1px solid #f3383e;
    border-radius: 20px;
}

.time p {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}

.time p .dot {
    font-size: 10px;
}

/* phan hinh anh */
/* mot so thuoc tinh chung cua cac phan hinh anh */
.pic p {
    display: inline-block;
}

.box_img .name {
    border-radius: 4px;
    background-color:  #171A1F80;
}

.box_img .name .text_img {
    color: #fff;
}

.box_img .name .dot_img {
    color: #1DD75BFF;
}

/* phan thuoc tinh cua rieng hinh anh to nhat */
.pic_main {
    /* background-color: gray; */
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.pic_main .box_img {
    width: 830px;
    height: 470px;
    background-color: #f8f9fa;
    /* display: flex;
    justify-content: space-between;
    align-items: flex-end; */
    position: relative;
    border-radius: 4px;
}

.box_img .imgbig {
    position: absolute;
    top: 12px;
    width: 100%;
    height: 458px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.box_img .name_big {
    width: 159px;
    height: 38px;
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box_img .img_mic {
    position: absolute;
    top: 25px;
    right: 24px;
}

.name_big .dot_img_big {
    position: absolute;
    top: 15px;
    left: 8px;
    font-size: 8px;
}

.name_big .text_img_big {
    position: absolute;
    top: 8px;
    left: 24px;
    font-size: 14px;
    line-height: 22px;
}
/* phan hinh anh nho o giua man hinh */
.picter_member {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 40px 830px 40px;
}
.pic_members {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
}

.box_img {
   width: 261px; 
   height: 160px;
   position: relative;
}

.box_img .img_member {
    border-radius: 4px;
}

.box_img .img_mic_member {
    position: absolute;
    top: 6px;
    right: 8px;
}

.box_img .name_member {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 101px;
    height: 26px;
    border-radius: 4px;
    background-color:  #171A1F80;
}

.name_member .dot_img {
    color: #1DD75BFF;
    position: absolute;
    top: 9px;
    left: 8px;
    font-size: 8px;
}

.name_member .text_img {
    position: absolute;
    top: 4px;
    left: 24px;
    font-size: 11px;
    line-height: 18px;
    color: #fff;
}

/* thanh chuc nang nam duoi cung trong phan center */
.action_center {
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 212px 486px 212px;
}

.action_center .box_action {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
}

.box_action .img_action {
    height: 44px;
}

.box_action .button_end {
    width: 126px;
    font-size: 16px;
    color: #fff;
    background-color: #F22128FF;
    border: none;
    border-radius: 4px;
}

/* phan ben phai cua man hinh */
.right {
    grid-column: 3/4;
    box-shadow: 0px 0px 1px #EAECEFFF, 0px 0px 2px #EAECEFFF;
    /* border: 1px solid gray; */
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 323px 576px;
}

/* phan participants */
.right .participants {
    position: relative;
    box-shadow: 0px 0px 1px #EAECEFFF, 0px 0px 2px #EAECEFFF;
    box-sizing: border-box;
}

.participants p {
    display: inline-block;
}

.participants .par_title {
    width: 386px;
    position: absolute;
    top: 32px;
    left: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.par_title .par_text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.par_text .text {
    padding-right: 6px;
    font-family: 'Sarabun', sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: #171A1FFF;
    font-weight: bold;
}

.par_text .number {
    padding: 5px;
    font-size: 12px;
    background-color: #FDF2F4FF;
    border-radius: 12px;
    color: #E34D73FF;
    cursor: pointer;
}

.par_title .button_add {
    width: 72px;
    height: 36px;
    color: #E34D73FF;
    border: 1px solid #E34D73FF;;
    background: #FFFFFFFF;
    outline: none;
}

.button_add .icon_add {
    padding: 3px; 
    box-sizing: border-box;
}

.participants .list_member {
    list-style-type: none;
    width: 386px;
    height: 192px;
    position: absolute;
    top: 100px;
    left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.list_member .member {
    width: 386px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.member .avt_name {
    width: 181px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avt_name .text {
    width: max-content;
    font-size: 14px;
    line-height: 22px;
    padding-left: 10px;
    color: #171A1FFF;
}

.member .button {
    width: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button .icon_dots {
    color: #6E7787;
    font-size: 12px;
}

/* phan khung chat */
.right .chat {
    width: 450px;
    height: 576px;
    position: relative;
    display: block;
}

.chat > .text {
    position: absolute;
    top: 33px;
    left: 32px;
    font-size: 24px;
    color: #171A1FFF;
    font-family: 'Sarabun', sans-serif;
    font-weight: bold;
}

/* thuoc tinh chung */
.chat .member_chat .avt {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0px;
}

.member_chat p {
    display: inline-block;
}

.member_chat .text_name {
    width: max-content;
    position: absolute;
    left: 52px;
    font-size: 14px; 
    font-weight: 900;
    line-height: 36px; 
    color: #323842FF;
}

.member_chat .time {
    width: max-content;
    font-size: 12px; 
    line-height: 36px; 
    color: #9095A0FF;
}

.member_chat .mess {
    width: 334px; 
    height: 68px; 
    position: absolute;
    top: 36px;
    left: 52px;
    background-color: #F8F9FAFF;
    border-radius: 4px;
}

.mess .text {
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 12px;
    font-size: 14px;
    line-height: 22px;
    color:  #171A1FFF;
}

/* thuoc tinh rieng */
.chat .chu_chat {
    position: absolute;
    top: 101px;
    left: 32px;

}

.chu_chat .time {
    position: absolute;
    left: 144px;
}

.chat .nievies_chat {
    position: absolute;
    top: 229px;
    left: 32px;
}

.nievies_chat .time {
    position: absolute;
    left: 146px;
}

.chat .benjamin_chat {
    position: absolute;
    top: 357px;
    left: 32px;
}

.benjamin_chat .time {
    position: absolute;
    left: 180px;
}

.benjamin_chat .mess_benjamin {
    width: 99px; 
    height: 52px; 
    background: #FDF2F4FF;

}

.chat .scott_chat {
    position: absolute;
    top: 469px;
    left: 32px;
}

/* khung nhap */
.scott_chat .form_input {
    width: 386px;
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_input .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F4F6;
    border-radius: 4px;
}

.input .text_input {
    width: 270px;
    padding: 10px;
    border: none;
    outline: none;
    color: #BCC1CA;
    background-color: #F3F4F6;
}

.input .icon_chat {
    padding: 10px;
}

.input .typing {
    display: none;
    position: absolute;
    top: 5px;
    left: 52px;
    font-size: 14px; 
    line-height: 22px; 
    color: #6E7787FF;
    background-color: #F8F9FA;
    padding: 10px;
    box-sizing: border-box;
}

.input:hover .typing {
    display: inline-block;
}