* {
    padding: 0px;
    margin: 0px;
    font-family: 'Open San', Arial, Helvetica, sans-serif;
}

.container {
    width: 1440px;
    height: 900px;
    display: grid;
    grid-template-columns: 80px 910px 450px;
}

.menu {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.action {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.setting {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.center {
    grid-column: 2/3;
    border: 0.5px solid lightgrey;
    /* border-left: 0.5px solid gray;
    border-right: 0.5px solid gray; */
    display: grid;
    grid-template-rows: 145px 495px 185px 70px;
}

.heading {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 40px 830px 40px;
}

.content_heading {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.metting {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.metting .title {
    font-size: 28px;
    font-weight: bold;
}

.metting p {
    padding: 5px 10px;
}

.metting .subtitle {
    padding: 20px 0px;
}

.metting .subtitle .internal {
    background-color: pink;
    border-radius: 25px;
}

.metting .subtitle p {
    display: inline-block;
    font-size: 16px;
}

.time {
    padding: 5px 10px;
    color: red;
    border: 1px solid red;
    border-radius: 20px;
}

.pic_main {
    background-color: gray;
}

.pic_members {}

.acction_center {}

.right {
    grid-column: 3/4;
}